$primary-color1: #000000;
$primary-color2: #404040;
$primary-color3: #ffffff;

$zinc-color100: #f4f4f5;
$zinc-color200: #e4e4e7;
$zinc-color300: #d4d4d8;
$zinc-color400: #71717a;
$zinc-color500: #27272a;

$error-color: #ef4444;