@font-face {
    font-family: "Sora-Regular";
    src: url(../font/Sora-Regular.ttf);
}

@font-face {
    font-family: "Sora-SemiBold";
    src: url(../font/Sora-SemiBold.ttf);
}

@font-face {
    font-family: "Sora-Bold";
    src: url(../font/Sora-Bold.ttf);
}

@font-face {
    font-family: "Sora-ExtraBold";
    src: url(../font/Sora-ExtraBold.ttf);
}