@import '../moduls/colors';
@import '../moduls/mixins';

.about {
    height: 670px;
    background-color: $primary-color3;
    padding-top: 80px;

    .container {
        display: flex;
        justify-content: space-around;

        img {
            max-width: 100%;
        }
    }

    &-content {
        width: 610px;

        p {
            font-family: "Sora-Regular";
            font-size: 16px;
            line-height: 20px;
            color: $zinc-color400;
        }
    }

    &-title {
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: "Sora-Regular";
        font-size: 48px;

        span {
            font-family: "Sora-ExtraBold";
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .about {
        height: auto;
        padding-bottom: 80px;

        .container {
            flex-direction: column;

            img {
                margin-bottom: 25px;
            }
        }

        &-title {
            font-size: 36px;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {}

@media screen and (max-width: 479px) {
    .about {
        height: auto;
        padding-bottom: 80px;

        .container {
            flex-direction: column;

            img {
                margin-bottom: 25px;
            }
        }

        &-content {
            width: 100%;
        }

        &-title {
            font-size: 24px;
        }
    }
}