@import '../moduls/colors';
@import '../moduls/mixins';

.experience {
    height: 955px;
    background-color: $primary-color1;
    display: flex;
    justify-content: center;
    padding-top: 80px;

    &-title {
        @include title();
        color: $primary-color3;

        span {
            font-family: "Sora-ExtraBold";
        }
    }

    &-grid {
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        width: 1168px;
        height: 640px;
        display: flex;
        flex-direction: column;
        gap: 32px 0;
        align-content: space-between;
    }

    &-card {
        width: 100%;
        height: 192px;
        border: 2px solid $zinc-color400;
        border-radius: 4px;

        p {
            width: 1120px;
            margin-top: 28px;
            font-family: "Sora-Regular";
            font-size: 16px;
            color: $zinc-color300;
            margin-right: 24px;
            margin-left: 24px;
        }

        &:hover {
            background-color: $zinc-color500;
            transition: all 0.4s;
        }
    }

    .card-header {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-right: 24px;
        margin-left: 24px;
    }

    .card-title {
        width: 470px;
        font-family: "Sora-SemiBold";
        font-size: 24px;
        line-height: 1.16;
        color: $primary-color3;
        margin-left: 30px;
        margin-right: 424px;
    }

    .card-date {
        width: 180px;
        font-family: "Sora-SemiBold";
        font-size: 16px;
        line-height: 1.25;
        color: $zinc-color300;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .experience {
        height: auto;
        padding-bottom: 80px;

        .container {
            height: auto;
        }

        &-title {
            font-size: 36px;
        }

        &-grid {
            width: 90%;
            height: auto;
        }

        &-card {
            max-width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            p {
                margin-top: 15px;
                margin-bottom: 30px;
                width: auto;
            }
        }

        .card-header {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .card-title {
            width: auto;
            margin: 0;
            margin-top: 15px;
        }

        .card-date {
            margin: 0;
            margin-top: 15px;
            width: auto;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .experience {
        height: auto;
        padding-bottom: 80px;

        .container {
            height: auto;
        }

        &-title {
            font-size: 36px;
        }

        &-grid {
            width: 90%;
            height: auto;
        }

        &-card {
            max-width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            p {
                margin-top: 15px;
                margin-bottom: 30px;
                width: auto;
            }
        }

        .card-header {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .card-title {
            width: auto;
            margin: 0;
            margin-top: 15px;
        }

        .card-date {
            margin: 0;
            margin-top: 15px;
            width: auto;
        }
    }
}


@media screen and (max-width: 480px) {
    .experience {
        height: auto;
        padding-bottom: 80px;

        .container {
            height: auto;
        }

        &-title {
            font-size: 24px;
        }

        &-grid {
            width: 90%;
            height: auto;
        }

        &-card {
            max-width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            p {
                margin-top: 15px;
                margin-bottom: 30px;
                width: auto;
            }
        }

        .card-header {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .card-title {
            font-size: 20px;
            width: auto;
            margin: 0;
            margin-top: 15px;
        }

        .card-date {
            margin: 0;
            margin-top: 15px;
            width: auto;
        }
    }
}