@import '../moduls/colors';
@import '../moduls/mixins';

.footer {
    height: 100px;
    background-color: $primary-color1;
    color: $primary-color3;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 140px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "Sora-Bold";

        a {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-decoration: none;
            color: $primary-color3;
        }
    }

    &-info {
        width: 187px;
        height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        &-years {
            font-family: "Sora-SemiBold";
            font-size: 16px;
        }

        &-text {
            font-family: "Sora-SemiBold";
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .footer {
        &-info {

            &-years,
            &-text {
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .footer {
        &-info {
            justify-content: space-evenly;
            &-years,
            &-text {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .footer {
        &-info {
            justify-content: space-evenly;
            &-years,
            &-text {
                font-size: 12px;
            }
        }
    }
}